<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader" />
<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>병원 이름</th>
      <th>진료과</th>
      <th>의사 이름</th>
      <th>예약자 이름</th>
      <th>예약 일자</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="appointment : ${appointments}">
      <td th:text="${appointment.id}"></td>
      <td th:text="${appointment.hospital.name}"></td>
      <td th:text="${appointment.department.name}"></td>
      <td th:text="${appointment.doctor.name}"></td>
      <td th:text="${appointment.patient.name}"></td>
      <td th:text="${appointment.appointmentTime}"></td>
    </tr>
    </tbody>
  </table>
  <a class="btn btn-lg btn-primary" href="/">메인 페이지</a>
</div>
</body>
</html>