<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
                <th>나이</th>
                <th>성별</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patient : ${patients}">
                <td th:text="${patient.id}"></td>
                <td th:text="${patient.name}"></td>
                <td th:text="${patient.age}"></td>
                <td th:text="${patient.gender}"></td>
                <td>
                    <p>
                        <a class="btn btn-primary" th:href="@{/patient/modify(patient_id = ${patient.id})}">수정</a>
                        <a class="btn btn-danger" th:href="@{/patient/delete(patient_id = ${patient.id})}">삭제</a>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>