<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <div class="container">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>이름</th>
        <th>주소</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="hospital : ${hospitals}">
        <td th:text="${hospital.id}"></td>
        <td><a th:href="@{/hospital/detail(hospital_id = ${hospital.id})}" th:text="${hospital.name}"></a></td>
        <td><span th:text = "${hospital.address.city}"></span><span th:text = "' ' + ${hospital.address.street}"></span><span th:text = "' ' + ${hospital.address.zipcode}"></span></td>
        <td>
          <p>
            <a class="btn btn-lg btn-primary" th:href="@{/hospital/modify(hospital_id = ${hospital.id})}">수정</a>
            <a class="btn btn-lg btn-danger" th:href="@{/hospital/delete(hospital_id = ${hospital.id})}">삭제</a>
          </p>
        </td>
      </tr>
      </tbody>
    </table>
    <a class="btn btn-primary" href="/">메인 페이지</a>
  </div>
</body>
</html>